{% extends('@Gescom/base.html.twig') %}

{% block body %}
    <div class="row margeTop">
        <div class="col s8 offset-s2">
            <h4>Produits</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Fournisseur</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>
                        {% for supplier in product.productSupplier %}
                            {{ supplier.supplier.name }}
                            {% if false == loop.last %}
                                ,&nbsp;
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s8 offset-s2">
            <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path("add_product") }}">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
{% endblock %}